<div class="container">
  <table>
    <thead>
    <tr>
      <th>Título</th>
      <th>Estado</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <% @list.each do |game| %>
      <tr>
        <td><%= game.game.titulo %></td>
        <td></td>
        <td>
          <%= link_to root_url + "gamelists/" + game.id.to_s, method: :delete, data: {confirm: "Estás fijo loco?"} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>