<h1>Mi lista</h1>

<table class="listaPersonal table table-bordered table-striped">
  <thead class="myheader">
    <tr>
      <th>Portada</th>
      <th>Título</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @gamelists.each do |gamelist| %>
    <tr>
      <td>
        <%= link_to (image_tag gamelist.game.image_url), gamelist.game %>
      </td>
      <td><%= gamelist.game.titulo %></td>
      <td><%= gamelist.status %></td>

      <td><%= link_to 'Eliminar', gamelist, method: :delete, data: {confirm: "Estás seguro?"}, class: "btn btn-outline-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
